* {
    font-family: "Fira Code", "宋体";
}
a {
    color: rgb(153, 153, 255);
    /* text-decoration: none; */
    text-decoration-style: dotted;
}

a:hover {
    color: rgb(255, 187, 187);
}

h1 {
    margin: 0;
    color: rgb(247, 180, 144);
    text-align: center;
}

p {
    flex: 0%;
    padding: 3% 10vw;
    /* display: inline; */
}
smile {
    color: rgb(165, 249, 112);
    display: inline-block;
    transition: transform 0.9s ease-in-out;
}

smile:hover {
    color: rgb(193, 252, 157);
    transform: rotate(90deg);
}